# ================
# Terraform Core Files
# =================

**/.terraform/*
.terraform/
.terraform.lock.hcl

# Terraform state files - NEVER commit these
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform plan output files
*.tfplan
tfplan
plan_output.txt

#Crash log files
crash.log
crash.*.log

